<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test1.Properties.Settings.studentConnectionString"
            connectionString="Data Source=192.168.120.20;Initial Catalog=student;Persist Security Info=True;User ID=sa;Password=8g610uwI0KF6wrDsK9nh"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
